@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

* {
  box-sizing: border-box;
}

body {
  background-color: #68686d; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.container {
  margin: 0 auto;
  width: 40%;
  border: 2px solid #fff;
  padding: 20px;
  height: 100vh auto;
  background: #1e1e20;
}

h2,h3,h4{
  color: #fff;
  font-weight: 900;
}

h1 {
  letter-spacing: 1px;
  margin: 0;
  color: #2e75cc;
}

.saldo-atual-negativo{
  color: red;
}

h2{
  text-align: center;
}

h3 {
  border-bottom: 1px solid #bbb;
  padding-bottom: 10px;
  margin: 20px 0 5px;
}

h4 {
  margin: 0;
  text-transform: uppercase;
}

#mes-ano{
  color: #fff;
  text-align: center;
  margin-top: -35px;
  font-size: 1.3em;
  text-shadow: 2px 2px 1px #000;
  font-weight: 900;
}

.receitas, .despesas{
  color: #000;
}

.painel-receitas-despesas {
  background-color: #fff;
  box-shadow: 3px 3px 2px #000;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.painel-receitas-despesas > div {
  flex: 1;
  text-align: center;
}

.painel-receitas-despesas > div:first-of-type {
  border-right: 3px solid #000;
}

.money {
  font-size: 1em;
  letter-spacing: 1px;
  margin: 2px 0;
}

.money.plus {
  color: #103900;
  font-weight: bold;
}

.money.minus {
  color: #c0392b;
  font-weight: bold;
}

label {
  display: inline-block;
  margin: 10px 0;
  color: #fff;  
  font-size: 1.4em;
}

input[type='checkbox']{
  transform: scale(1);
}

.check{
  margin-top: 20px;
}

small{
  color: #fff;
}

input[type='text']{
  border: 1px solid #dedede;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
  color: #000;
  font-weight: 900;
}

input:focus{
  outline: none;
  font-size: 1.2em;
}

.btn {
  cursor: pointer;
  background-color: #2ecc71;
  box-shadow: var(--box-shadow);
  color: #000;
  border: 0;
  display: block;
  font-size: 1.3em;
  margin: 10px 0 30px;
  padding: 10px;
  width: 100%;
  font-weight: 900;
}

.btn-print{
  cursor: pointer;
  background-color: #2ecc71;
  box-shadow: var(--box-shadow);
  color: #000;
  border: 0;
  display: block;
  font-size: 1.3em;
  margin: 10px 0 30px;
  padding: 10px;
  width: 100%;
  font-weight: 900;
}

.btn:hover, .btn-print:hover{
  background: #103900;
}

.btn:focus,
.delete-btn:focus {
  outline: 0;
}

.transactions {
  list-style-type: none;
  padding: 5px;
  margin-bottom: 40px;
}

.transactions li {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  color: #000;
  font-weight: 900;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
  padding-left: 50px;
}

.transactions li.plus {
  border-right: 10px solid #103900;
  background: #63c98d;
}

.transactions li.minus {
  border-right: 10px solid red;
  background: #c08881;
}

.delete-btn {
  cursor: pointer;
  background-color: red;
  border: 0;
  border-radius: 50%;
  color: #000;
  font-size: 1.3em;
  line-height: 36px;
  padding: 2px 5px;
  position: absolute;
  top: 0;
  left: 0px;
  width: 40px;
}

.transactions li:hover .delete-btn {
  opacity: 1;
}

@media (max-width: 768px){

  .container{
    width: 100%;    
    position: absolute;
    top: 0;
  }

  .btn:hover, .btn-print:hover{
    background: #2ecc71;
  }

  #mes-ano{
    margin-bottom: 30px;
    font-size: 1em;
  }
}

@media print {

  h4{
    color: #000;
    font-size: 1.5em;
  }

  h2{
    font-size: 1.8em;
    color: #000;
  }

  .painel-receitas-despesas{
    box-shadow: none;
  }

  .delete-btn{
    display: none;
  }

  .transactions li{
    padding-left: 1px;
    font-size: 1.5em;
    border-bottom: 2px solid #000;
    box-shadow: none;
  }

  .transactions li.plus{
    border-right: 10px solid #2ecc71;
  }

  .transactions li.minus {
    border-right: 10px solid #c0392b;
  }  

  #mes-ano{
    color: #000;
    text-shadow: none;
  }

  #form{
    display: none;
  }

  .no-print{
    display: none;
  }
  
}
