@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #68686d; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.container {
  margin: 0 auto;
  width: 40%;
  border: 2px solid #fff;
  padding: 10px;
  height: 100vh auto;
  background: #1e1e20;
}

h2,h4{
  color: #fff;
}

h1 {
  letter-spacing: 1px;
  margin: 0;
}

h2{
  text-align: center;
  margin-top: -80px;
}

h3 {
  border-bottom: 1px solid #fff;
  padding-bottom: 10px;  
  color: #fff;
  font-weight: 100;
}

h4 {
  margin: 0;
  text-transform: uppercase;
  font-weight: 100;
}

img{
  width: 80px; 
}

#mes-ano{
  color: #fff;
  text-align: center;
  margin-top: -35px;
  font-size: 1.3em;
}

.receitas, .despesas{
  color: #000;
  font-weight: 900;
}

.painel-receitas-despesas {
  background-color: #fff;
  box-shadow: 3px 3px 2px #000;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.painel-receitas-despesas > div {
  flex: 1;
  text-align: center;
}

.painel-receitas-despesas > div:first-of-type {
  border-right: 3px solid #000;
}

.money {
  font-size: 1em;
  letter-spacing: 1px;
  margin: 2px 0;
}

.money.plus {
  color: #103900;
  font-weight: bold;
}

.money.minus {
  color: #c0392b;
  font-weight: bold;
}

label {
  display: inline-block;
  margin: 10px 0;
  color: #fff;  
  font-size: 1.4em;
}

input[type='checkbox']{
  transform: scale(1);
}

.check{
  margin-top: 20px;
}

small{
  color: #fff;
}

input[type='text']{
  border: 1px solid #dedede;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
  color: #000;
  font-weight: 900;
}

input:focus{
  outline: none;
  font-size: 1.2em;
}

input::placeholder{
  color: #494747;
}

.btn{
  cursor: pointer;
  box-shadow: 3px 3px 10px #000;
  color: #000;
  border: 0;
  display: block;
  font-size: 1.3em;
  margin: 10px 0 30px;
  padding: 10px;
  width: 100%;
  font-weight: 900;
}

.btn-add{
  background-color: #2ecc71;
}

.btn-print {
  background-color: #e3b505;
}

.btn:hover{
  background: green;
}

.btn-print:hover{
  background-color: #e0ff4f;
}

.btn:focus,
.delete-btn:focus {
  outline: 0;
}

.transactions {
  list-style-type: none;
  padding: 5px;
  margin-bottom: 40px;
}

.transactions li {
  background-color: #fff;
  color: #000;
  font-weight: 900;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
  padding-left: 50px;
  text-transform: capitalize;
}

.transactions li.plus {
  border-right: 10px solid green;
  background: #63c98d;
}

.transactions li.minus {
  border-right: 10px solid red;
  background: #c08881;
}

.delete-btn {
  cursor: pointer;
  background-color: red;
  border: 0;
  border-radius: 50%;
  color: #000;
  font-size: 1.3em;
  line-height: 36px;
  padding: 2px 5px;
  position: absolute;
  top: 0;
  left: 0px;
  width: 40px;
}

.transactions li:hover .delete-btn {
  opacity: 1;
}

.delete-btn:hover{
  background-color: #c0392b;
}

@media (max-width: 768px){

  .container{
    width: 100%;    
    position: absolute;
    top: 0;
  }

  #mes-ano{
    margin-bottom: 30px;
    font-size: 1em;
  }
}

@media print {

  h4{
    color: #000;
    font-size: 1em;
  }

  h2{
    margin-top: -70px;
    font-size: 1.4em;
    color: #000;
    border: 1px solid black;
  }

  img{
    margin-left: -20px;
  }

  .balance{
    font-size: 1em;
  }

  .balance, .saldo{
    margin-left: 70px;
  }

  .painel-receitas-despesas > div:first-of-type {
    border-right: none;
  }

  .painel-receitas-despesas{
    box-shadow: none;
    margin-top: -70px;
    margin-left: 200px;
  }

  .delete-btn{
    display: none;
  }

  .transactions li{
    padding-left: 1px;
    font-size: 12px;
    border-bottom: 2px solid #000;
    box-shadow: none;
  }

  .transactions li.plus{
    border-right: 10px solid #2ecc71;
  }

  .transactions li.minus {
    border-right: 10px solid #c0392b;
  }  

  #mes-ano{
    color: #000;
    text-shadow: none;
  }

  #form{
    display: none;
  }

  .no-print{
    display: none;
  }
  
}
